.header {
    text-align: center;
}
* {
    padding: 1%;
}
.ending_text {
    text-align: center;
}
.prev {
    text-align: center;
}
.warning {
    text-align: center;
}
.entry {
    text-align: center;
}
.grpc {
    text-align: center;
}